<div class="container">
  <form [formGroup]="productForm" class="d-flex fd-column" style="margin: 20px 0" (ngSubmit)="onSubmit()">
    <h1>Thêm sản phẩm</h1>
    <input type="text" placeholder="Tên sản phẩm" formControlName="name" class="form-control" required />
    <input type="number" placeholder="Giá sản phẩm" formControlName="price" class="form-control" required />
    <input type="text" placeholder="Ảnh sản phẩm" formControlName="image" class="form-control" required />
    <textarea formControlName="detail" class="form-control" placeholder="Mô tả" required></textarea>
    <pre>{{ mess }}</pre>
    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Đăng sản phẩm</button>
    <a href="http://localhost:4200/product-list">Danh sách sản phẩm</a>
  </form>
</div>

